<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectando a cidade</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css">
</head>

<body>
    <div class="titulo">
        <h1>Horarios de Transportes Públicos</h1>
    </div>
    <div>
        <a href="/passagem">Passagem</a>
        <br>
        <a href="/visgueiro">Praia do Visgueiro</a>
        <br>
        <a href="/JF">Praia de João Francisco</a>
        <br>
        <a href="/barra">Praia de Barra do Furado</a>
    </div>

    <div class="cxhorario">
        <section class="titulocx">
        Horário
        João Francisco
        </section>
     
        <section class="txt">
            06:00 AM <br>
            12:00 PM <br>
            05:00 PM   
        </section>
        <section class="titulocx">
            Horário
            Visgueiro
            </section>
         
            <section class="txt">
                06:00 AM <br>
                12:00 PM <br>
                05:00 PM   
            </section>
            <section class="titulocx">
                Horário
                Barra do Furado
                </section>
             
                <section class="txt">
                    06:00 AM <br>
                    12:00 PM <br>
                    05:00 PM   
                </section>

    <div class="cxhorario2">
        <section class="titulocx">
        Horário nos Feriados
        João Francisco
        </section>
     
        <section class="txt">
            08:00 AM <br>
            11:30 PM <br>
            02:00 PM <br>
            05:00 PM
        </section>
        <section class="titulocx">
            Horário
            Visgueiro
            </section>
         
            <section class="txt">
                08:00 AM <br>
                11:30 PM <br>
                02:00 PM <br>
                05:00 PM
            </section>
            <section class="titulocx">
                Horário
                Barra do Furado
                </section>
             
                <section class="txt">
                    08:00 AM <br>
                11:30 PM <br>
                02:00 PM <br>
                05:00 PM
    </div>
</div>

</body>

</html>