<div class="inicio">
    <h1>Informação</h1>
    <div>
        <a href="/">Início</a>
        <a href="/visgueiro">Praia do Visgueiro</a>
        <a href="/JF">Praia de João Francisco</a>
        <a href="/barra">Praia de Barra do Furado</a>
    </div>
</div>