<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passagem</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css">
</head>
<body>
    
    <div class="cxpassagem">

        <section class="cxtexto">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nm" name="nm"><br>
        </section>
     
        <section class="cxtexto">
           <label for="loc">Local:</label><br>
           <input type="text" id="loc" name="loc"><br>
        </section>
    
            <section class="cxtexto">
                <label for="val">Valor:</label><br>
                <input type="text" id="val" name="val"><br>
            </section>
             
                <section class="cxtexto">
                    <label for="tel">Telefone:</label><br>
                <input type="text" id="tel" name="tel"><br>
                </section>
    </div>
   
</body>
</html>

<tt><a href="/"><h2>Voltar</h2></a></tt>